@import "_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "_buttons.scss";
@import "_text.scss";
@import "_inputs.scss";

.navbar {
    padding: 20px;
}

.bg-body {
    background-color: $body-bg;
}


.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}